body{
  background-color: rgb(249, 207, 130);
}
.links {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  
}
img {
  display: block;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
.list {
  display: block;
  margin: 40px auto;
  width: 600px;
  list-style: none;
  font-size: larger;
  text-align: center;

}
h1 {
  font-size: 60px;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(255, 136, 0);
  font-size: 20px;

}
p {
  text-align: center;
}
